//VARIABLES


/*Display*/
$d-flex:flex;
$d-block:block;
$d-inline:inline;
$d-grid:grid;
$d-none:none;

/*Flexbox*/


$jCstart:flex-start;
$jCend:flex-end;
$jCcenter:center;
$jCevenly:space-evenly;
$jCaround:space-around;
$jCbetween:space-between;
