/*************************ETIQUETAS GENERALES************************/
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; 
}
  
body {
  font-family: $fontMain;
}

h1 {
  font-weight: 500; 
}

p {
  /* font-size: 1rem; */
  font-weight: 200 !important;
}

a {
  color: black;
  text-decoration: wavy;
  font-style: oblique; 
}

@media only screen and (min-width: 768px) {
    h1 {
      font-weight: 500; 
    }
    p {
      font-weight: 750; 
    }
}
  
@media only screen and (min-width: 992px) {
  h1 {
    font-weight: 700;
    font-size: 1.7rem; 
  }
  p {
    font-weight: 550;
    font-size: 1.2rem; }
}  

/****************CAROUSEL******************/

#carousel {
  border-top: 10px solid black;
  border-bottom: 10px solid black;
  display: block;
} 

/************************SECCIÓN BIO******************************/


/*BREAKPOINT 1: X-SMALL (xs) <576px */

.bio{
  width: 100%;
  height: auto;
  background: #ffffff;
  padding-top: 30px;
  padding-bottom: 90px;
  img{
    margin-bottom: 20px;
    border: 5px black solid;
    box-shadow: -20px 20px 20px 1px rgb(38, 39, 39);
  }
}

  /*BREAKPOINT 2: SMALL (sm) >= 576px */
  /*BREAKPOINT 3: MEDIUM (md) >= 768px */
  /*BREAKPOINT 4: LARGE (lg) >= 992px */
  /*BREAKPOINT 5: X-LARGE (xl) >= 1200px */
  /*BREAKPOINT 6: XX-LARGE (xxl) >=1400px */
  
 
  /********************SECCIÓN GALERÍA*********************************/
 
  /*BREAKPOINT 1: X-SMALL (xs) <576px */
  .botonGaleria{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    button{
      margin-bottom: 15px;
      h3{
        font-size: 1.5rem;
        margin: 5px;
      }
    }
  }
  
  
  /*BREAKPOINT 2: SMALL (sm) >= 576px */
  /*BREAKPOINT 3: MEDIUM (md) >= 768px */
  
  @media only screen and (min-width: 768px){
    .imgGaleria {
      box-shadow: -20px 20px 30px 1px #262727;
    }
  }
  /*BREAKPOINT 4: LARGE (lg) >= 992px */
  /*BREAKPOINT 5: X-LARGE (xl) >= 1200px */
  /*BREAKPOINT 6: XX-LARGE (xxl) >=1400px */
  

  
  
  /* BOTÓN "Volver Arriba" */

  #volverArriba {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: rgba(28, 111, 219, 0.897);
    color: white;
    cursor: pointer;
    padding: 15px;
    font-size: 18px;
    border-radius: 5px solid black;
  }
  


  /*******************SECCIONES INTERNAS DE LA GALERÍA*********************/

  .item{
    transition: 1s;
    img{
    border: 5px solid black;
    box-shadow: -5px 5px 5px 1px rgb(38, 39, 39); 
    }
    :hover{
      filter:brightness(80%);
    }
  }

  /**************************** SECCIONES INTERNAS DE VIDEOS ***************/
  
  .videoBanner {
    height: 15rem;
  }

  .videoReproduccion{
    width: 100%;
    height: 40vh;
    margin-bottom: 5px;
  }


  @media only screen and (min-width: 500px){

    .videoBanner {
      width: 30rem;
      
    }
    
  }

  @media only screen and (min-width: 768px){

    .videoBanner {
      width: 30rem; 
    }

    /* Como tengo videos hosteados en Youtube y otros en Google Drive (Por una cuestión de Copyright), tengo que agregar una clase distinta, ya que los de Google Drive estiran mucho el thumbnail */ 
  .videoReproduccionDrive {
    width: 60%;
    height: 25vh;
  }

  }

  @media only screen and (min-width: 992px){

    .videoBanner {
      width: 40rem; 
    }

    .videoReproduccionDrive {
      width: 40%;
      height: 25vh;
    }
    
  }

  @media only screen and (min-width: 1200px){

    .videoBanner {
      height: 25rem; 
    }

    .videoReproduccionDrive {
      width: 25%;
      height: 25vh;
    }
    
  }

  @media only screen and (min-width: 1200px){
  
  
  
  
  }





  /* ME DEJO ESTO POR ACÁ PARA USARLO COMO AYUDA MEMORIA PARA LOS MEDIAQUERYS DE BOOTSTRAP */  
  /*BREAKPOINT 2: SMALL (sm) >= 576px */
  /*BREAKPOINT 3: MEDIUM (md) >= 768px */
  /*BREAKPOINT 4: LARGE (lg) >= 992px */
  /*BREAKPOINT 5: X-LARGE (xl) >= 1200px */
  /*BREAKPOINT 6: XX-LARGE (xxl) >=1400px */
  /*BREAKPOINT 1: X-SMALL (xs) <576px */
  /*BREAKPOINT 2: SMALL (sm) >= 576px */
  /*BREAKPOINT 3: MEDIUM (md) >= 768px */
  /*BREAKPOINT 4: LARGE (lg) >= 992px */
  /*BREAKPOINT 5: X-LARGE (xl) >= 1200px */
  /*BREAKPOINT 6: XX-LARGE (xxl) >=1400px */
